<?xml version="1.0" encoding="utf-8"?>

<nlog internalLogFile="internalLog.txt" internalLogLevel="Trace" throwExceptions="true" autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  <variable name="TWCFFilename" value="${logDirectory}/TWCF-E-BusServer.log" />
  <variable name="logFileName" value="${logDirectory}/E-BusServer.log" />
  <variable name="detailLogFileName" value="${logDirectory}/E-BusServer(Detail).log" />
  <variable name="connectionString" value="Data Source=IRRIS.DEV; User ID=gears_ags; Password=gears_ags" />

  <targets async="true">
    <!-- <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />  -->

    <target xsi:type="File"
            name="TWCFEbus"
            fileName="${TWCFFilename}"
            layout="${date:universalTime=true:format=u} | ${level} | ${machinename} | ${aspnet-user-identity} | ${message} | ${stacktrace:format=Flat:topFrames=4:separator=|}"
            concurrentWrites="true"
            archiveFileName="${logDirectory}/${level}{#####}.log"
            archiveAboveSize="10240"
            archiveNumbering="Sequence">
    </target>

    <target xsi:type="File"
            name="fileTarget-Simple"
            fileName="${logFileName}"
            layout="${level} ${longdate} ${message}"
            concurrentWrites="true"
            archiveFileName="${logDirectory}/${level}{#####}.log"
            archiveAboveSize="10240"
            archiveNumbering="Sequence">
    </target>

    <target xsi:type="File"
            name="fileTarget-Detail"
            fileName="${detailLogFileName}"
            layout="${level} ${longdate} ${machinename} ${message}"
            concurrentWrites="true"
            archiveFileName="${logDirectory}/${level}{#####}.log"
            archiveAboveSize="10240"
            archiveNumbering="Sequence">
    </target>

    <target xsi:type="File"
            name="fileTarget-FatalDetail"
            fileName="${logFileName}"
            layout="${level} ${longdate} ${message} ${event-context:item=requestType} ${event-context:item=requestUrl} ${event-context:item=requestQuerystring} ${event-context:item=requestStatus} ${event-context:item=message}"
            concurrentWrites="true"
            archiveFileName="${logDirectory}/${level}{#####}.log"
            archiveAboveSize="10240"
            archiveNumbering="Sequence">
    </target>

    <target name="gmail" type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="tagRameshS@gmail.com"
            smtpPassword="password"
            enableSsl="true"
            from="tagRameshS@gmail.com"
            to="rsubramanian@gfnet.com"
            cc="rsubramanian@geodecisions.com">
    </target>
<!--
    <target xsi:type="EventLog"
            name="event1"
            layout="${level} ${longdate} ${machinename} ${message}">
    </target>

    <target xsi:type="WebService"
            name="wcf2"
            url="http://localhost:8733"
            Protocol="HttpGet"
            methodName="WelcomeAndPublish">
      <parameter layout="${level}-Subramanian" name="value" type="System.string" />
    </target>

    <target xsi:type="WebService"
            name="wcf1"
            url="http://localhost:58631/Service1.svc"
            Protocol="HttpGet"
            methodName="redis">
      <parameter layout="${level}-Subramanian" name="name" type="System.string" />
    </target>
    -->
<!--
    <target name="dbTargetEBus"
            xsi:type="Database"
            dbProvider="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=2.111.7.20, Culture=neutral, PublicKeyToken=89b483f429c47342"
            connectionString="${connectionString}"
            keepConnection="true"
            commandText="begin gears_ags.nlog.test_nlog_db_connection(:p_error); end;">
      <parameter name="p_error" layout="${machinename}-Server"></parameter>
        <parameter name="name_in" layout="${logname}"></parameter>
        <parameter name="context_id_in" layout="${contextId}"></parameter>
        <parameter name="level_in" layout="${level}"></parameter>
        <parameter name="message_in" layout="${message}"></parameter>
        <parameter name="user_in" layout="${userid}"></parameter>
        <parameter name="machine_in" layout="${machinename}"></parameter>
        <parameter name="thread_in" layout="${threadid}"></parameter>
        <parameter name="error_in" layout="${exception:format=ToString}"></parameter>
        <parameter name="request_in" layout="${aspnet-request}"></parameter> 
    </target>
-->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="wcf2" />
    <logger name="*" minlevel="Trace" writeTo="TWCFEBus" />
    <logger name="*" minlevel="Trace" writeTo="fileTarget-Simple" />
    <logger name="*" minlevel="Error" writeTo="fileTarget-Detail" />
    <logger name="*" minlevel="Error" writeTo="dbTargetEBus" />
    <!-- <logger name="GeoDecisions.Esb.Server.Console.ServerLogger" minlevel="Error" writeTo="gmail" /> -->
    <!-- <logger name="GeoDecisions.Esb.Server.Console.ServerLogger" minlevel="Error" writeTo="event1" /> -->
    <logger name="*" minlevel="Fatal" writeTo="fileTarget-FatalDetail" />
  </rules>
</nlog>